html
	head
		title Cool title
	body
		p body
		script(type="text/javascript",src="bower_components/jquery/dist/jquery.min.js")
		script(type="text/javascript",src="bower_components/underscore/underscore-min.js")
		script(type="text/javascript",src="bower_components/backbone/backbone-min.js")
		script(type="text/javascript",src="four.js")